[submodule "3rdparty/boost-cmake"]
	path = 3rdparty/boost-cmake
	url = git://github.com/asheplyakov/boost-cmake.git
[submodule "3rdparty/mingw-std-threads/mingw-std-threads"]
	path = 3rdparty/mingw-std-threads/mingw-std-threads
	url = git://github.com/meganz/mingw-std-threads.git
